body{
    
    background-color: efefef;
    padding: 5px 465px 40px 465px; 
   
    
}
.first{
    text-align: center;
    font-weight: 600;
}
.fig {
    text-align: center;
   
}
div{
    font-family: tahoma;
    font-weight:16px; 
    width: 515px;
    height: 750px;
    padding: 20px 50px;
     box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color:ffffff;
}

img{
    width:145px;
    height:150px;
    
}
span{
    display:inline-block;
 align: center;   
}